*.pper
*.Rdata
*.Rproj.user
*.Rhistory
*.Rproj

Code/Input/
Code/Output/
Code/Intermediate/
Code/.Rproj.user/
.Rproj.user

Code/Incident_Prediction/Input/
Code/Incident_Prediction/Output/
Code/Incident_Prediction/Intermediate/

